In [43]:
#Para ejecutar las celdas de Jupyter, podemos darle click al botón "Run"
#ó presionamos las teclas CTRL+ENTER
#Si queremos ejecutar una celda y luego crear una celda nueva debajo 
#de la anterior, presionamos las teclas SHIFT+ENTER
#Muestra en la consola la frase "Hola Mundo"
print("Hola Mundo")

#En python no es necesario declarar el tipo de variable
x = 5 #Entero (int)
y = 3.141596 #Decimal (double)
z = "Juan" #Cadena de texto (String)
w = True #Booleano (bool)

Hola Mundo

In [46]:
print("Podemos imprimir el valor de un número entero:")
print(x)
print("Podemos imprimir el valor de un número decimal:")
print(y)
print("Podemos imprimir el valor de una cadena de texto:")
print(z)
print("Podemos imprimir el valor de un booleano:")
print(w)

Podemos imprimir el valor de un número entero:
5
Podemos imprimir el valor de un número decimal:
3.141596
Podemos imprimir el valor de una cadena de texto:
Juan
Podemos imprimir el valor de un booleano:
True

# Principales comandos de Markdown


# Título grande
## Título mediano
### Título pequeño

* Viñeta 1
* Viñeta 2 

This is **bold**.

# Operaciones básicas en python

In [68]:
#Suma de dos valores
print(x+y)
#Resta
print(x-y)
#Multiplicación
print(x*y)
#División
print(x/y)
#Potencia
print(x**2)
#Módulo
print(x%2)
#División entera
print(x//2)

8.141596
1.8584040000000002
15.70798
1.5915477356095438
25
1
2

# Operaciones con cadenas de texto

In [70]:
saludo = "Hola, mi nombre es "
nombre = "Claudio"

In [71]:
print(saludo + nombre)

Hola, mi nombre es Claudio

In [76]:
#Extraer texto de una cadena de texto utilizando el comando split
#y quitar caracteres no deseados
print(saludo.split(" ")[0].replace(",",""))

Hola

In [85]:
#Extraer texto a partir de una cadena de texto sin espacios
texto = "holalkjiblebc"
print(texto[0:4]) #un intervalo semi abierto [0,4)

ola

# Operaciones booleanas

In [86]:
t = True
f = False

In [96]:
print(t and t)
print(t and f)
print(f or t)
print(f or f)
print(not t)
print(not f)

True
False
True
False
False
True

In [101]:
# Operador XOR
print(f ^ t)
print(f ^ f)
print(t ^ t)
print(f ^ f)
print(t ^ f)

True
False
False
False
True

# Objetos especiales en python
* Listas
* Tuplas
* Diccionarios

In [102]:
#listas
lista = [1,2,3,4,5] #Lista que contiene números
print(lista)

[1, 2, 3, 4, 5]

In [103]:
#Listas que contienen cadenas de texto
lista = ["Juana",'Lupe','Carlos']
print(lista)

['Juana', 'Lupe', 'Carlos']

In [104]:
#Listas mixtas
lista = ["Juan", 5, True, 10.55123]
print(lista)

['Juan', 5, True, 10.55123]

In [110]:
#Las listas no tienen operaciones vectoriales (diferente a numpy)
lista1 = [1,2,3,4,5]
lista2 = [7,8,9,1,2]
print(lista1 + lista2)

[1, 2, 3, 4, 5, 7, 8, 9, 1, 2]

In [113]:
#Quisiera multiplicar cada elemento de la lista  por 2
print(lista1 * 2) # No funciona
#Podemos usar un concepto en python llamado "List Comprehension"

print([2*x for x in lista1])

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

In [114]:
#Supongamos que queremos sumar el valor de 10 a cada elemento de lista1
print([x+10 for x in lista1])

[11, 12, 13, 14, 15]

In [115]:
#Necesitamos un comando que filtre los elementos menores a 3 de la lista
print([x for x in lista1 if x >= 3])

[3, 4, 5]

In [117]:
#Necesitamos un comando que filtre de lista1 los elementos impares
print([x for x in lista1 if x%2 == 0])

[2, 4]

In [121]:
#Necesitamos un comando que multiplique en lista1 los elementos 
#pares divida entre 2 los elementos impares
print([x*4 if x%2 == 0 else x/2 for x in lista1])

[0.5, 8, 1.5, 16, 2.5]

In [ ]:
#Recordatorio
#Una List Comprehension se puede declarar de varias formas:
#[f(x) for x in list]
#[f(x) for x in list if "statement"]
#[f(x) if "statement" for x in list]
#[f(x) if "statement a" else "statement b" for x in list]

In [127]:
#Las listas son mutables, es decir, podemos modificar los elementos
#Que contiene
lista1[3] = 550000
print(lista1)

[1, 2, 3, 550000, 5]

# Tuplas (tuple)
    Objetos similares a las listas, solo que dichos elementos no son
    mutables

In [131]:
#Declaración de una tupla, igual que una lista, pero utilizando parentesis en 
#vez de corchetes
tupla = (1,2,3,"hola",5)
print(tupla)

(1, 2, 3, 'hola', 5)

In [133]:
#Las listas son inmutables
tupla[3] = 20000

TypeError: 'tuple' object does not support item assignment

In [136]:
lista=["Pedro","López",1998, "CDMX"] # da pie a que los datos se
#modifiquen eventualmente
lista[0]= "Juana"
print(lista)

['Juana', 'López', 1998, 'CDMX']

In [138]:
tupla=("Pedro","López",1998, "CDMX") # da pie a que los datos se
#modifiquen eventualmente
tupla[0] = "Juana"
print(tupla)

TypeError: 'tuple' object does not support item assignment

In [149]:
#list comprehension con tuplas
tupla = (1,2,3,4,5)
listacuadrado = tuple([x ** 2 for x in tupla]) #De esta forma retornamos
#Una tupla al objeto listacuadrado

In [150]:
tupla

(1, 2, 3, 4, 5)

In [151]:
listacuadrado

(1, 4, 9, 16, 25)

# Diccionarios
 Objetos similares a las listas, pero van a estar indexados por una llave, funcionarán de la siguiente forma:
 
 diccionario = {llave1:valor1, llave2:valor2, llave3:valor3}

In [152]:
diccionario = {"Luis":10, "Roberto":6, "Laura":9}

In [155]:
diccionario["Laura"]

9

In [157]:
#Devuelve las llaves correspondientes a el diccionario
diccionario.keys()

dict_keys(['Luis', 'Roberto', 'Laura'])

In [158]:
#Devuelve los valores correspondientes a el diccionario
diccionario.values()

dict_values([10, 6, 9])